<% if current_user %>

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h1>Online Users</h1>
        <div class="col-md-12 users_container">
          <ul class="list-group">
            <% @users.each do |u| %>
              <li class="list-group-item">
                <%= u.first_name+" "+u.last_name %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-md-9">
        <h1>Messages</h1>
        <div class="col-md-12 messages_container">
          <% @messages.each do |m| %>
          <% if m.user.id == session[:user_id] %>
            <div class="text-right well well-sm" message_id=<%= m.id %>>
            <strong>You</strong>:
          <% else %>
            <% format = "" %>
            <div class="well well-sm" message_id=<%= m.id %>>
            <%= link_to m.user.first_name+" "+m.user.last_name, user_path(m.user_id) %>:
          <% end %>
            <%= m.main_message %>
            </div>
          <% end %>
        </div>
        <div class="col-md-12">
          <%= form_for @message, :url => messages_path, :remote => true, :data => {:type => "json"}, :html => {:id => "js-message"} do |f| %>
            <%= f.text_area :main_message, :placeholder => 'Input your message here..', :class => "form-control" %>
            <%= f.hidden_field :user_id, :value => session[:user_id] %>
            <% #f.submit :Submit, :class => 'btn btn-primary btn_block form-group' %>
          <% end %>
          <button type="button" id="scroll" name="button" hidden>check scroll</button>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    setInterval(function() {
      var message_id = $(".messages_container div:last-child").attr('message_id');
      $.ajax({
        type: "GET",
        url: "/messages/"+message_id
      }).done(function(new_messages){
        $.each(new_messages, function(key, data){
          var message = $("<div>").text(data.main_message).html();
          $(".messages_container").append(
            "<div class='well well-sm animated bounceIn' message_id='"+data.id+"'>"+
              "<a href='/user/"+data.user_id+"'>"
              +data.user.first_name+" "+data.user.last_name+
              "</a>: "
              +message+
            "</div>"
          ).scrollTop(9999999);
        });
      });

      $.ajax({
        type: "GET",
        url: "/users/check"
      }).done(function(online_users){
        $(".users_container ul").html("");
        $.each(online_users, function(key, data){
          $(".users_container ul").append(
            "<li class='list-group-item'>"+
              data.first_name+" "+data.last_name+
            "</li>"
          );
        });
      });
    }, 5000);
  </script>

<% else %>

  <div class="form-signin">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">

        <h2>Sign in</h2>

        <%= form_for @session, :url => session_path do |f| %>

          <div class="form-group">
            <%= f.label :username %>
            <%= f.text_field :username, :class => 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, :class => 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.submit :Submit, :class => 'btn btn-lg btn-primary btn-block' %>
          </div>

        <% end %>

        <%= link_to "Register", register_path, :class => "btn btn-default" %>

      </div>
    </div>
  </div>

<% end %>
